{% extends 'layout.html' %}
{% block title %} Business {% endblock %}
{% block body %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}
{% endwith %}
<h1 class="text-center">{{ biz.name }}</h1>
<!-- add Profile pics for businesses-->
<!-- NAV for quick actions -> save to collection, review, -->
<h3 class="text-center">save to collection</h3>
<a class="text-center" href="{{ url_for('write_review', biz_id=biz.id) }}">Write a review</a>
<!-- Opening hours (optional?)-->
<h3 class="text-center">Opening hours</h3>
<!-- About the business-->
<p class="text-center">{{ biz.description }}</p>
<!-- Amenities -->
<h4 class="text-center"> Biz amenities</h4>
<!-- Ask the owner -->
<h4 class="text-center">Ask the owner</h4>
<!-- Reviews-->
<p class="text-center">Write a review</p>
                   <!-- Overall rating, stats by rate. clicking rate = filter-->
                   <!-- Review -->
                        <!-- Profile pic, number of reviews, name, photo (option), rating, review-->
{% endblock %}
