{% extends 'layout.html' %}
{% block title %} Dashboard {% endblock %}
{% block body %}
<div class="row">
  <div class="col-6 col-md-4" style="margin-top: 10px;">
	  <div class="card">
		  {% if current_user.image %}
		  <img class="card-img-top" src="{{ current_user.image.url }}" style="max-width: 550px; max-height: 400px;" alt="{{ current_user.user_name }}'s image">
		  {% endif %}
		  <div class="card-body">
			  <h5 class="card-title">Account details</h5>
			  <p class="card-text">Full name: {{ current_user.first_name }} {{ current_user.last_name }}</p>
			  <p class="card-text">Username: {{ current_user.user_name }}</p>
			  <p class="card-text">Email: {{ current_user.email }}</p>
			  <!-- <p class="card-text">Friends: {{ current_user.friends|length }}</p> -->
			  <p class="card-text">Reviews written: {{ num_reviews }}</p>
			  <p class="card-text">Favorite businesses: {{ current_user.fav_bizes|length }}</p>
			  <p class="card-text">Favorite reviews: {{ current_user.fav_reviews|length }}</p>
		  </div>
		  <a href="{{ url_for('logout') }}">
			  <button type="button" class="btn btn-outline-secondary" style="margin-left: 30px; margin-bottom: 5px; width: 80%;">Logout</button>
		  </a>
		  <div class="card-footer">
			  <small class="text-muted">Joined on {{ current_user.created_at }}</small>
		  </div>
	  </div>
  </div>
  <div class="col-12 col-md-8" style="margin-top: 5px;">
	  <div class="row row-cols-2">
		  <div class="col" style="margin-top: 10px;">
			  <div class="card">
				  <div class="card-body">
					    <h5 class="card-title">Business</h5>
                                            <p class="card-text"></p>
					    <a href="{{ url_for('my_bizes') }}">
						    See your listed businesses
					    </a><br>
					    <a href="{{ url_for('fav_bizes') }}">
						    See your favorite businesses
					    </a><br>
						<a href="{{ url_for('edit_bizes') }}">
						    Edit your businesses
					    </a>
                                    </div>
				    <a href="{{ url_for('register_biz') }}">
					    <button type="button" class="btn btn-outline-secondary" style="width: 80%; margin-left: 30px; margin-bottom: 5px;">
						    Create a business
					    </button>
				    </a>
                            </div>
                    </div>
		    <div class="col" style="margin-top: 10px;">
                          <div class="card">
                                  <div class="card-body">
                                            <h5 class="card-title">Reviews</h5>
					    <a href="{{ url_for('my_reviews') }}">
                                                    See reviews you wrote
					    </a><br>
						<a href="{{ url_for('fav_reviews') }}">
                                                    See your favorite reviews
                                            </a>
                                            <p class="card-text text-muted">To write a review, go to a business page</p>
				  </div>
                            </div>
                    </div>
            </div>
  </div>
</div>
{% endblock %}
