{% extends "layout.html" %}
{% block title %} Edit Business Description {% endblock %}
{% block body %}
<h1 class="text-center" id="biz-header">Edit Business Description</h1>

<div class="container mt-4">
  <form id="description-form" method="POST" action="">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <textarea class="form-control" id="description" name="description" rows="6">{{ biz.description }}</textarea>
        </div>
      </div>
    </div>
    <div class="text-center mt-4">
      <button type="submit" class="load-more">Edit</button>
    </div>
  </form>
</div>
{% endblock %}
