{% extends "layout.html" %}
{% block title %} Home {% endblock %}
{% block body %}
<h3 class="text-center">Recent activity</h3>
<div class="row row-cols-3">
    {% for review in reviews %}
    <div class="col" style="margin-top: 10px;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ review.get_user_name }}</h5>
                <a href="{{ url_for('goto_biz', biz_id=review.biz_id) }}">
                    {{ review.get_biz_name }}
                </a>
                <div class="star">
                    {% for star in range(1, 6) %}
                    {% if review.rating|int >= star %}
                    <span
                        class="star">⭐️</span><!-- Display a star if the rating is greater than or equal to the current star value -->
                    {% else %}
                    <span class="star">☆</span>
                    {% endif %}
                    {% endfor %}
                </div>
                <p class="card-text">{{ review.text }}</p>
            </div>
            <div class="card-footer">
                {% if review.id in current_user.fav_reviews %} <!-- review was liked already -->
                <form action="" method="POST">
                        <input type="hidden" name="like" value="{{ review.id }}">
                        <div class="like-container">
                                <button class="like-btn" type="submit" title="found useful">
                                        <span class="material-icons" id="liked">thumb_up</span>
                                </button>
                                <span class="text-muted" id="likes">{{ review.found_useful }}</span>
                        </div>
                </form>
                {% else %}
                <form action="" method="POST">
                        <input type="hidden" name="like" value="{{ review.id }}">
                        <div class="like-container">
                                <button class="like-btn" type="submit" title="found useful">
                                        <span class="material-icons">thumb_up</span>
                                </button>
                                <span class="text-muted" id="likes">{{ review.found_useful }}</span>
                        </div>
                </form>
                {% endif %}
        </div>
        </div>
    </div>
    {% endfor %}
</div>
<a href="{{ url_for('show_reviews') }}" style="text-decoration: none;">
    <button type="button" class="btn btn-primary btn-lg btn-block" id="rev-btn">See more</button>
</a>
<h3 class="text-center">Categories</h3>
<div class="categories">
    <div class="row row-cols-3">
        {% for category in categories %}
        <div class="col" style="margin-top: 10px;">
            <div class="card huv" style="height: 100px; padding-top: 15px;">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ category.name }}</h5>
                    <!-- Add the number of businesses in category?-->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
