<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grumble</title>
    <link rel="stylesheet" href="../static/styles/style.css"> <!-- Include your CSS file for styling -->
</head>
<body id="body">
    <header>
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section id="hero">
        <h1>Welcome to Grumble</h1>
        <p>Discover and review local businesses. Share your experiences.</p>
        <a href="{{ url_for('register_user') }}" class="cta-button">Get Started</a>
        <a href="{{ url_for('index') }}" class="cta-button">Home</a>
    </section>

    <section id="about">
        <h2>About Us</h2>
        <p>We're your one-stop platform for finding, reviewing, and sharing experiences about local businesses.</p>
    </section>

    <section id="features">
        <h2>Key Features</h2>
        <ul>
            <li>Search and discover local businesses.</li>
            <li>Leave reviews and ratings for businesses you've visited.</li>
            <li>List your own businesses and manage their details.</li>
            <li>Add businesses to your favorites for quick access.</li>
            <li>Interact with the community by liking reviews and following users.</li>
        </ul>
    </section>

    <section id="contact">
        <h2>Contact Us</h2>
        <p>If you have any questions or need assistance, feel free to contact us:</p>
        <a href="mailto:contact@example.com">Email: ianalpha@protonmail.com</a>
    </section>

    <footer>
        <p>&copy; Grumble 2023</p>
    </footer>
</body>
</html>
