{% extends 'layout.html' %}
{% block title %}Register{% endblock %}
{% block body %}
<h2 class="text-center">Register User account</h2>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
	{% for message in messages %}
	<li>{{ message }}</li>
	{% endfor %}
</ul>
{% endif %}
{% endwith %}
    <form action="" method="post">
	    <div class="form-group" style="margin-bottom: 10px; margin-left: 10px; width: 97%;">
            <input class="form-control" autofocus type="text" name="fname" placeholder="First name">
        </div>
	<div class="form-group" style="margin-bottom: 10px; margin-left:     10px; width: 97%;">
            <input class="form-control" type="text" name="lname" placeholder="Last name">
        </div>
        <div class="form-group" style="margin-bottom: 10px; margin-left:     10px; width: 97%;">
            <input class="form-control" type="text" name="username" placeholder="Username" required>
        </div>
        <div class="form-group" style="margin-bottom: 10px; margin-left:     10px; width: 97%;">
            <input class="form-control" type="email" name="email" placeholder="Email Address" required>
        </div>
        <div class="form-group" style="margin-bottom: 10px; margin-left:     10px; width: 97%;">
            <input class="form-control" type="password" name="password" placeholder="Password" required>
        </div>
        <div class="form-group" style="margin-bottom: 10px; margin-left:     10px; width: 97%;">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password" required>
        </div>
        <input class="btn btn-primary" type="submit" value="Register" style="margin-left: 10px;">
    </form>

    Already have an account? <a href="{{ url_for('login') }}">Log In here.</a>
    {% endblock %}
